* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    margin: auto;
    background-image: url(/images/rock.jpg);
}

.container{
    width: 410px;
    margin: auto;
    padding: 10px;
    height: 50vh;
    
}

text{
    font-size: 16pt;
}

#submit{
    font-size: 14pt;
    font-family: Optima, sans-serif;
}
.input {
    margin: auto;
    padding: 1rem 0 1rem 0;
    text-align: center;
    justify-content: center;
    background: none;
    font-size: 25pt;
}

.text {
    height: 2.5rem;
    width: 10rem;
    background: #212121;
    font-weight: bold;
    padding: 20px;
    border: none;
    background-color: transparent;
    border: 2px solid #c2c2c2;
    border-radius: 2px;
    margin-right:4px ;
}

.submit{
    height: 3.2rem;
    width: 6.5rem;
    background: none;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
}

.display {
    text-align: center;
    width: 300px;
    height: 100px;
    color: #16a864;
}
.wrapper {
    margin: 0 9rem;
    background-color: none;
    height: 20vh;
    margin: 50px auto;
    border: 1px solid whitesmoke;
   
}

.wrapper h2{
    padding: 5px 0;
    text-align: center;
    background: none;
    color: white;
    font-family: Optima, sans-serif;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    
  }
  .wrapper p{
    margin:20px 50px;
    margin-right: 20px;
    text-align: left;
    color: #04214c;
    font-size:23px;
    border: 1px solid whitesmoke;
    
  }

  .wrapper h2 span{
    font-size: 26px;
    color: #9beefb;
  }
    .wrapper p span{
    color: #90006e;
    font-size: 25px;
  }

